:root {
  --color-primary: #b31106;
  --color-secondary: #f69406;
  --color-body: #212121;
  --border-radius: 1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--color-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

/* main content */

#main-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  min-height: 90vh;
}
